.container-search {
    background-color: #D3E4FF;
   
}

.align-items-center-search {
    padding: 2rem;
}

.input-search {
    border-radius:8px;
}

.search-menu-title {
    font-family: 'poppins';
    font-weight: bolder;
    font-size:40px;
   
    margin-top: 2rem;
    color: rgb(95, 95, 95);
}

#border-wrapper{
    position:relative;
    display:inline-block;
}
#border{
    position: relative;
    width: 30%;
    height: 7px;
    background-color: #D3E4FF;
    margin: 0 auto;
    margin-bottom: 2rem;
}